<ul class="navigation">
  <li>{{#link-to "dashboard"}}Leituras{{/link-to}}</li>
  <li>{{#link-to "dashboard"}}Usuários{{/link-to}}</li>
  <li>{{#link-to "dashboard"}}Calculadora{{/link-to}}</li>
  <button {{action "logout"}}>Sair</button>
</ul>
