<ul class="navbar">
  <div class="app-menu">
  <div class="nav-button">
      <li>{{#link-to "dashboard"}}Leituras{{/link-to}}</li>
  </div>
  <div class="nav-button">
    <li>{{#link-to "login"}}Usuários{{/link-to}}</li>
  </div>
  <div class="nav-button">
    <li>{{#link-to "login"}}Calculadora{{/link-to}}</li>
  </div>
  <div class="nav-button">
    <button {{action "logout"}}>Sair</button>
  </div>
</div>
</ul>
