
<div class="dashboard-container">
  {{md-btn text='Cadastrar nova leitura'
  action='registerNewReading'
  class="register-button"}}
{{searchbar-container}}
{{collection-view-container model=model}}

    {{register-reading-modal closeModalAction=(action closeModal) isNewReading=readingFormModal.isNewReading class="register-reading-modal"}}


</div>
