<div class="form">

  <h5>Leitura de Bolso Gestor</h5>

  {{md-input
    value=email
    label='Email'
    class="field"
    validate=true}}

    {{md-input
      value=password
      label='Password'
      type="password"
      class="field"
      validate=true}}

      {{md-btn text='Entrar'
      action='authenticate'
      class="button"}}

    </div>
