<div class="form">
  <img src="assets/image/logo-splash.gif" alt="loading..."/>

  <h5>Leitura de Bolso Gestor</h5>

  {{md-input
    value=email
    label='Email'
    class="field"
    validate=true
    errors=errors.email}}

    {{md-input
      value=password
      label='Password'
      type="password"
      class="field"
      validate=true
      errors=errors.password}}

      {{md-btn text='Entrar'
      action='authenticate'
      class="button"}}


    </div>

    {{#if isLoading}}
      <div class="custom-loader">
        <img src="assets/image/logo-splash.gif" alt="loading..."/>
        <p> loading ... </p>
      </div>
    {{/if}}
