// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import 'components/color';


/*// Custom color settings go here*/
$main-background-color: color("grey", "darken-3");
$main-text-color: white;
$form-autofill-text-color: rgba(white, 0.8);


@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

// Custom scss
@import 'custom-loader.scss';
@import 'custom-form.scss';
@import 'custom-navbar';
@import 'dashboard-container';
@import 'collection-view-container';
@import 'searchbar-container';
@import 'collection-card-reading-item';
@import 'read-time-calc';
@import 'register-reading-modal';
@import 'reading-detail';
// General scss
html {
  background-color: $main-background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $main-text-color;
  text-align: center;
  align-items: center;
  position: relative;
}
