$line-height: 1.4;

.collection-card-reading-item {
  position: relative;
  display: inline-block;
  width: 340px;
  height: 400px;
  margin: 10px;

  background-color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 0px 65px 4px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 65px 4px rgba(0,0,0,1);
  box-shadow: 0px 0px 65px 4px rgba(0,0,0,1);

  text-align: left;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');

  %extended_padding {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  };

  %extended_linebreak {
    max-width: 100%;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      line-height: $line-height;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .reading-item-title {
    @extend %extended_padding;
    height: 15%;
    -webkit-line-clamp: 2 ;
    @extend %extended_linebreak;
    font-size: 18px;
  }

  .reading-item-author {
    @extend %extended_padding;
    height: 10%;
    color: gray;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

  }

  .reading-item-content {
    @extend %extended_padding;
    height: 65%;

    span{
      -webkit-line-clamp: 11;
      @extend %extended_linebreak;
    }
    // white-space: nowrap;
  }

  .reading-item-actions {
    @extend %extended_padding;
    height: 10%;
    display: block;
    background-color: rgba(0,0,255,0.05);

    .delete-button {
      color: red;
      position: absolute;
      right: 15px;
      top: 95%;
      transform: translateY(-50%);
      background: rgba(0,0,0,0);
      border: none;
    }
    .checkbox {
      color: black;
      position: absolute;
      top: 95%;
      transform: translateY(-50%);
    }
    .card-item-select-button {
      position: absolute;
      background-color: rgba(0,0,0,0.01);
       z-index: 999;
       top: 0;
       left: 0;
       height:90%;
       width: 100%;
    }
  }

}
